[submodule "habitat-sim"]
	path = habitat-sim
	url = git@github.com:facebookresearch/habitat-sim.git
[submodule "habitat-lab"]
	path = habitat-lab
	url = git@github.com:facebookresearch/habitat-lab.git
